.navbar
    display: flex
    align-items: center
    justify-content: space-between
    background-color: black
    padding: 10px
    .navbar__logo
        width: 100px
        height: 100px
    .navbar__lista
        display: flex
        list-style-type: none
        .navbar__elemento
            padding: 25px
            color: white
            font-family: 'Lora', serif
.header__video
    width: 100%
    position: relative
.video_text
    font-size: 5vw
    font-family: 'Lora', serif
    padding: 10px
    color: white
    position: absolute
    top: 30vh
.header__section--logo
    justify-content: center
    align-items: center
.header__logo
    height: 300px
    width: 300px
    display: flex
    margin: auto
.header__logo--title
    display: flex
    align-self: center
    font-family: 'Lora', serif
    font-size: 8vmin
    color: #fcfcfc
    text-shadow: 0.3vmin 0 #b6a4a4
    margin: 0
    padding: 40px
    grid-area: text
    top: 20vh
    justify-content: center
    width: 100%
    padding: 10px