main
    display: flex
    align-items: center
    flex-direction: column
.characters--title
    display: flex
    justify-content: center
    font-family: 'Lora', serif
.info
    padding: 15px
    margin: 10vh
.info--title
    display: flex
    justify-content: center
    width: 100%
    align-items: center
    font-family: 'Lora', serif
    color: white
    padding: 2vh
.maps
    display: flex
    flex-wrap: wrap
    width: 100%
    justify-content: center
.maps--title
    display: flex
    justify-content: center
    width: 100%
    font-family: 'Lora', serif
    color: white

.characters--title
    display: flex
    justify-content: center
    padding: 10px
    color: white
.characters
    padding: 10px
.characters--text
    padding: 10px
    color: white
.carrousel
    width: 85%
    max-width: 120em
    padding: 3em
.carrousel .grande
    width: 400%
    display: flex
    justify-content: space-between
    align-items: center
    padding: 2em
    transition: all .5s ease
    transform: translateX(0%)
.carrousel .img
    width: calc(100%/4 - 2em)
    min-height: 10vh
.carrousel .puntos
    width: 100%
    margin: 1em 0 0
    padding: .4em
    display: flex
    flex-flow: row nowrap
    justify-content: center
    align-items: center
    list-style-type: none
.carrousel .punto
    width: 2em
    height: 2em
    margin: 1em 1em .6em
    border-radius: 50%
    background-color: white
.carrousel .punto.activo
    background-color: #742b95
.contenedor
    width: 90%
    max-width: 120em
    padding: 1em
.contenedor .tabs
    width: 100%
    display: flex
    flex-flow: row nowrap
    justify-content: center
    align-items: center
    margin-left: 6vw
.contenedor .li
    padding: 1em
    margin: 0 1em 0 0
    list-style-type: none
    transition: all .5s ease
    font-family: 'Lora', serif
    color: white
.contenedor .li.activo
    background-color: #742b95
    color: white
    border-radius: 50px
.contenedor .subcontenedor
    height: 50vh
    position: relative
    left: 40vw
.contenedor .bloque
    padding: 1em
    margin: 1em
    position: absolute
    // top: 0
    height: 300px
    opacity: 0
    bottom: 3vh
    transition: all .5s ease
.contenedor .bloque.activo
    opacity: 1
.music
    display: flex
    justify-content: center
    margin: 2vh
    flex-wrap: wrap
    padding: 10px
    audio
        display: flex
        justify-content: center
        margin: 10px
.music--title
    display: flex
    justify-content: center
    font-family: 'Lora', serif
    color: white
    width: 100%
    padding: 5px
.music-info
    width: 100%
    display: flex
    justify-content: center